body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

p {
    font-size: 18px !important;
}

header {
     z-index: 2;
      position: fixed;
      width: 100%;
}

header nav {
    color: #fff;
    padding: 10px;
} 

.navBar {
     background: transparent;
}

.navTransparent {
    background: #fff;
}



.nav-container {
   width: 100%
}



nav ul li {
    list-style: none;
}

.navigation a {
    font-size: 18px;
    color: #000 !important;
    text-decoration: none;
}
.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 0 0 .45em;
}
    .logo a {
      color: rgb(28, 24, 22);
    }

    .logo, .navigation {
        list-style: none;
        text-transform: uppercase;
    }

    .logo a, .navigation a {
        text-decoration: none;
        letter-spacing: .45rem;
    }

.navigation  {
  display: flex;
  padding-left: 0;
}

.navigation a {
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
    background: #00ace6;
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
.personal-pic img {
    width: 100% !important;
}

.bio-container {
   flex-direction: column;
}
  
  .navigation  {
    width: 100%;
    justify-content: space-around;
  }

  .image-container {
    display: none;
}

.container {
    width: 90%;
}
}

@media all and (max-width: 400px) {
    .contact-form {
        padding: 0 !important;
    }

    .write-up {
        display: none;
    }


   .navigation a {
       padding: 10px 5px !important;
   }
   .centered-container p {
       width: 100% !important;
   }
}
/* ****** ****** */
@media all and (max-width: 600px) {
    .container {
        width:100%
    }

    .contact-form {
        padding: 0 !important;
    }

    .write-up {
        display: none;
    }


   .navigation a {
       padding: 10px 5px !important;
   }
 
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .navigation {
    flex-direction: row;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    letter-spacing: 1px;
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }

    .brand {
        width: 100%;
        text-align: center;
    }

    .nav-container ul {
         width: 100%;
    }
    .write-up {
    flex-grow: 2;
    text-align: center;
    color: #ccc;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    top: 630px !important;
    left: 70px;
    background: #cccccc21;
}

.write-up h5, .write-up p, .write-up button {
    display: none;
}

#bio-section h2  {
    margin-bottom: 0;
    margin-top: 60px;
}

.bio-data {
    padding: 30px 20px;
}
    

    .personal-pic img {
   margin: 0 auto; 
    height: 600px;
}

.bio-container {
    flex-direction: column;
}

.image-container {
    display: none;
}
    .at-timeline-content {
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    padding: 1em;
    box-shadow: 0 1px 7px rgba(0,0,0,.01);
    margin-left: 60px;
}

.centered-container h2 {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}

.centered-container p {
    font-weight: 400;
    font-size: 16px;
    width: 100% !important;
}

.content {
    flex-direction: column;
}

.contact-container {
    flex-direction: column;
}

.contact-form {
    flex: 0 0 100%;
}

}

#about-section {
    /* display: flex;
    flex-wrap: wrap; */
    /* margin: 0px 15px 0px 15px; */
    padding-top: 70px;
    background: url('../image/home-banner.jpg') no-repeat scroll center center;
    background-size: cover;;
}

.personal-pic {

    flex: 0 0 40%;
  
}

.personal-pic img {
    width: 100%;
    height: 500px;
    margin-top: 60px;
}

.write-up {
   flex: 0 0 45%;
    text-align: left;
    color: #222;
    justify-content: center;
    margin: 0 30px;
    padding: 110px 20px
}

.equal-boxes .contact-info {
    padding-top: 0 !important;
}

footer a {
    color: #fff;
}

.write-up h5 {
    font-size: 14px;
    text-transform: uppercase;
}

.write-up h2 {
    font-size: 48px;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

.write-up p {
    color: #777;
    font-size: 14px;
}

.btn {
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 48%, #8490ff 100%);
    padding: 0px 42px;
    line-height: 50px;
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 48%, #8490ff 100%);
    border: 1px solid #8490ff;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
}

#bio-section {
    margin:0px; 
    padding: 30px 20px;
    background: #f8f9fa;
}

#bio-section h2 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

.bio-container {
    display: flex;
}

.bio-data {
    flex-grow: 3;
    flex: 0 0 48%;
    padding: 0px 20px;
}

#bio-section p {
    text-align: justify;
}

.bio-data h3 {
    text-align: center;
    font-weight: 700;

} 

.skills {
    flex-grow: 1;
    flex: 0 0 50%;
}

.skills h3 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 60px;
} 

.image-container img{
    width: 100%;
    height: 500px;
    margin-top: 40px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    background: transparent;
    color: #fff;
    border: 1px solid #eee;
    border-right: 2px solid #007bff;
    border-bottom: 2px solid #007bff;
    min-width: 220px;
    min-height: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.box h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300; 
}

.box p {
    font-size: 25px;
    font-weight: 900;
}

#contact {
    margin: 40px 0;
}

.contact-container {
    display: flex;
}

#contact h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}

.contact-image h3 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.contact-image {
   flex: 0 0 40%;
    padding: 20px; 
}

.contact-form {
    flex: 0 0 50%;
    padding: 30px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 6px;
    color: #000;
    border: 1px solid #dddddd;
    outline: medium none;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
}


#skills {
    background: linear-gradient(45deg, #000000c7, #00000094),url('../image/1.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 150px 0;
    color: #fff
}

#experience {
    background: #F3F8FC;
    margin: 0;
    padding: 30px 0;
}

#experience h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 60px;
}

.at-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.at-timeline-section {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.at-timeline-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #efefef;
}

.at-timeline-img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background: #ccc;
    margin-left: 10px;
}




@media only screen and (min-width: 1170px){
.at-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
}
.at-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    background: #ccc;
}
.at-timeline-section::before {
    left: 50%;
    margin-left: -2px;
}

.at-timeline-content::before {
    top: 10px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
}

.at-timeline-content .at-date {
    position: absolute;
    width: 100%;
    left: 118%;
    top: 0;
}

.timeline-block {
    margin: 4em 0;
}

.timeline-block.at-even .at-timeline-content {
    float: right;
}

.timeline-block.at-even .at-timeline-content .at-date {
    left: auto;
    right: 122%;
    text-align: right;
}
}


.timeline-block::after {
    clear: both;
    content: "";
    display: table;
}
.at-timeline-content .at-date {
    display: inline-block;
    float: left;
    padding: .8em 0;
    line-height: normal;
}

.at-timeline-content {
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    padding: 1em;
    box-shadow: 0 1px 7px rgba(0,0,0,.01);
}

.at-timeline-content::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #ffffff;
}

.timeline-content::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #ffffff;
}

.at-date{
    display: inline-block;
    float: left;
    padding: .8em 0;
    line-height: normal;
}

#hire {
    text-align: center;
    background: linear-gradient(45deg, #000000c7, #00000094),url('../image/computer-1245714_1920.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 100px 0;
    color: #fff
}

.contact-info {
    padding-top: 40px;
}

.contact-info ul li:not(:first-child) {
    margin-top: 20px;
}


.contact-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-info li strong {
    display: block;
    clear: both;
    color: #4f6df5;
}

.contact-info li a {
    color: #989898 !important;
    text-decoration: none;
}

.form-container{
    margin-top: 40px;
    padding: 30px;
    box-shadow: 0 1px 41px rgba(0,0,0,.1);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.centered-container {
    margin-bottom: 60px;
}

.centered-container h2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
}

.centered-container p{
    width: 60%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
}

#footer-section {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #1b1b1b;
}

.content {
    display: flex;
}

.equal-boxes {
    flex-grow: 2;
    padding: 0 15px;
    flex: 0 0 32%;
}

.copy-right {
    background-color: #2d2d2d;
    padding: 20px 0
}

.copy-right p {
    text-align: center;
}

footer {
    color: #fff;
}