body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
     z-index: 2;
      position: fixed;
      width: 100%;
}

header nav {
    background: #000;
    color: #fff;
    padding: 10px;
   
    
} 

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .brand {
    padding: 15px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 20px;
    list-style: none;
}

nav ul li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

#about-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px 0px 15px;
    padding-top: 70px;
}

.personal-pic {
    flex-grow: 1;
  
}

.personal-pic img {
    padding: 0 60px;
}

.write-up {
    flex-grow: 2;
    text-align: left;
    color: #222;
    justify-content: center;
    margin: 0 30px;
    padding: 150px 20px
}

.write-up h5 {
    font-size: 14px;
    text-transform: uppercase;
}

.write-up h2 {
    font-size: 48px;
    color: #000;
    margin-top: 0;
    margin-bottom: 20px;
}

.write-up p {
    color: #777;
    font-size: 14px;
}

.btn {
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 48%, #8490ff 100%);
    padding: 0px 42px;
    line-height: 50px;
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 48%, #8490ff 100%);
    border: 1px solid #8490ff;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
}

#bio-section {
    margin:0px; 
    padding: 30px 20px;
    background: #f8f9fa;
}

#bio-section h2 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

.bio-container {
    display: flex;
}

.bio-data {
    flex-grow: 3;
    flex: 0 0 48%;
    padding: 60px 20px;
}

.bio-data h3 {
    text-align: center;
    font-weight: 700;

} 

.skills {
    flex-grow: 1;
    flex: 0 0 50%;
}

.skills h3 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 60px;
} 

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.603);
    border: 1px solid #eee;
    border-top: 2px solid #007bff;
    min-width: 220px;
    min-height: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.box h5 {
    font-size: 16px;
    text-transform: uppercase;
    color: #000; 
}

.box p {
    font-size: 18px;
    color: #007bff;
}

#contact {
    margin: 40px 0;
}

.contact-container {
    display: flex;
}

#contact h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}

.contact-image h3 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.contact-image {
   flex: 0 0 40%;
    padding: 20px; 
}

.contact-form {
    flex: 0 0 50%;
    padding: 30px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 6px;
    color: #000;
    border: 1px solid #dddddd;
    outline: medium none;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
}


#skills {
    background: linear-gradient(45deg, #000000c7, #00000094),url('../image/1.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 150px 0;
    color: #fff
}

#experience {
    background: #F3F8FC;
    margin: 0;
    padding: 30px 0;
}

#experience h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 60px;
}

.at-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.at-timeline-section {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.at-timeline-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #efefef;
}

.at-timeline-img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background: #ccc;
    margin-left: 10px;
}


@media only screen and (max-width: 700px) {
    .write-up {
    flex-grow: 2;
    text-align: center;
    color: #ccc;
    justify-content: center;
    margin: 0 auto;
    padding: 200px 20px 0 20px;
    position: absolute;
    top: 250px;
    left: 70px;
    background: #cccccc21;
}
    .nav-container {
        text-align: center;
        flex-direction: column;
    }

    nav ul {
        justify-content: center;
    }

    .personal-pic img {
    padding: 0 160px;
}

.bio-container {
    flex-direction: column;
}

.image-container {
    display: none;
}
    .at-timeline-content {
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    padding: 1em;
    box-shadow: 0 1px 7px rgba(0,0,0,.01);
    margin-left: 60px;
}

.centered-container h2 {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}

.centered-container p {
    font-weight: 400;
    font-size: 16px;
}

.content {
    flex-direction: column;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact-container {
    flex-direction: column;
}

.contact-form {
    flex: 0 0 100%;
}
}

@media only screen and (min-width: 1170px){
.at-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
}
.at-timeline-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    background: #ccc;
}
.at-timeline-section::before {
    left: 50%;
    margin-left: -2px;
}

.at-timeline-content::before {
    top: 10px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
}

.at-timeline-content .at-date {
    position: absolute;
    width: 100%;
    left: 118%;
    top: 0;
}

.timeline-block {
    margin: 4em 0;
}

.timeline-block.at-even .at-timeline-content {
    float: right;
}

.timeline-block.at-even .at-timeline-content .at-date {
    left: auto;
    right: 122%;
    text-align: right;
}
}


.timeline-block::after {
    clear: both;
    content: "";
    display: table;
}
.at-timeline-content .at-date {
    display: inline-block;
    float: left;
    padding: .8em 0;
    line-height: normal;
}

.at-timeline-content {
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    padding: 1em;
    box-shadow: 0 1px 7px rgba(0,0,0,.01);
}

.at-timeline-content::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #ffffff;
}

.timeline-content::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #ffffff;
}

.at-date{
    display: inline-block;
    float: left;
    padding: .8em 0;
    line-height: normal;
}

#hire {
    text-align: center;
    background: linear-gradient(45deg, #000000c7, #00000094),url('../image/computer-1245714_1920.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 100px 0;
    color: #fff
}

.contact-info {
    padding-top: 40px;
}

.contact-info ul li:not(:first-child) {
    margin-top: 20px;
}


.contact-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-info li strong {
    display: block;
    clear: both;
    color: #4f6df5;
}

.contact-info li a {
    color: #989898 !important;
    text-decoration: none;
}

.form-container{
    margin-top: 40px;
    padding: 30px;
    box-shadow: 0 1px 41px rgba(0,0,0,.1);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.centered-container {
    margin-bottom: 60px;
}

.centered-container h2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
}

.centered-container p{
    width: 60%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
}

#footer-section {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #1b1b1b;
}

.content {
    display: flex;
}

.equal-boxes {
    flex-grow: 2;
    padding: 0 15px;
    flex: 0 0 32%;
}

.copy-right {
    background-color: #2d2d2d;
    padding: 20px 0
}

.copy-right p {
    text-align: center;
}

footer {
    color: #fff;
}